@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 240 10% 6%;
  --foreground: 0 0% 100%;
}

html, body, #__next {
  height: 100%;
}

body {
  @apply bg-background text-foreground antialiased;
}

.container {
  @apply mx-auto max-w-6xl px-4;
}
